@font-face {
  font-family: "Nunito";
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src:
    url("/NunitoSans.woff2") format("woff2") tech("variations"),
    url("/NunitoSans.woff2") format("woff2-variations");
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-spacing: 1px;
}
