.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.privy-focus {
  @apply transition duration-300 focus:outline-none focus:ring-2 focus:ring-primary-500;
}

.privy-focus-white {
  @apply transition duration-300 focus:outline-none focus:ring-1 focus:ring-neutral-500;
}

.privy-focus-offset {
  @apply privy-focus focus:ring-offset-1 focus:ring-offset-primary-500;
}
